django
djangorestframework
django-autoslug
django-celery
django-compressor
django-cors-headers
django-filter
django-jsonfield
django-model-utils
django-picklefield
factory_boy
mock
pillow
python-dateutil
python-memcached
python-money
qrcode

git+https://github.com/ojii/pymaging.git#egg=pymaging
git+https://github.com/ojii/pymaging-png.git#egg=pymaging-png

git+https://github.com/litedesk/litedesk-lib-active_directory
git+https://github.com/litedesk/litedesk-lib-airwatch
