django
djangorestframework
django-autoslug
django-celery
django-compressor
django-cors-headers
django-filter
django-jsonfield
django-model-utils
django-picklefield
factory_boy
mock
pillow
python-dateutil
python-memcached
python-money

git+ssh://git@github.com/litedesk/litedesk-lib-active_directory
git+ssh://git@bitbucket.org/litedesk/litedesk-lib-airwatch
