{% extends "provisioning/mail/html/activation_base.tmpl.html" %}

{% block welcome_message %}
  <span style="font-size: 14px; font-family: 'trebuchet ms', helvetica, sans-serif; line-height: 150%; color: rgb(118, 118, 121); ">
    Hi {{ user.first_name }}, <br />

    your organization is using AirWatch to manage your mobile
    devices. Your account has been enabled and you may activate your
    device. Using your device’s web browser, please navigate to
    <a target="_blank" href="https://awagent.com/" style="text-decoration: none; color: rgb(101, 164, 234);">https://awagent.com/</a>.

    If the AirWatch MDM Agent app is installed on your device, you
    will be redirected to it. If not, you will be redirected to your
    device's official app store to download it.
  </span>
{% endblock %}

{% block access_information_message %}
  <div style="text-align: center;">
    <span style="font-size: 14px; font-family: 'trebuchet ms', helvetica, sans-serif; line-height: 150%;">
        <strong>YOUR SYSTEM ADMINISTRATOR HAS CREATED AN AIRWATCH ACCOUNT FOR YOU.</strong>
        <br />
        <br />Please use the following credentials to authenticate.<br />
        <br />
        YOUR SERVER: <br />{{ service.server_url }}<br />
        <br />YOUR GROUP ID<br />
        {{ service.group_id }}<br />
        <br />YOUR USERNAME<br />
        {{ user.username }}<br />
        <br />YOUR PASSWORD<br />
        Use Okta password<br />
        <br />Alternatively, scan the QR code below to begin enrollment.<br />
        <br />
        {{ qr_code }}
    </span>
  </div>
{% endblock %}
